[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
django-crispy-forms = "==1.10.0"
pytz = "==2020.1"
sqlparse = "==0.3.1"
users = "==1.0.dev0"
Django = "==3.1.1"
Pillow = "==8.0.1"
django-lazysignup = "==2.0.0"
stripe = "==2.55.1"
certifi = "==2020.12.5"
chardet = "==4.0.0"
idna = "==2.10"
requests = "==2.25.1"
six = "==1.15.0"
urllib3 = "==1.26.2"

[dev-packages]

[requires]
python_version = "3.9"
