{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex flex-row">
    <div class="p-2"> Ring</div>
    <div class="p-2"> ></div>
    <div class="p-2"> Product Name</div>
</div>

<main role="main" class="container detail-body">
    <div class="row">
        <div class="col-md-6 blog-main">


            <div class="blog-post">
                <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic"> {{ item.title }}</h4>
                <p class="mb-0"> Here is a bunch of product description that
                keeps talking about how great and how awesome the product is please
                buy buy buy</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Limited-edition</h4>
                <ol class="list-unstyled mb-0">
                    <li><p1 class="money"> $ {{ item.price }}</p1></li>
                    <li><button type="button" class="btn btn-outline-dark">Add to Cart</button></li>


                </ol>
            </div>


        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->


<script src="./animation.js"></script>
</body>


{% endblock content %}