{% extends 'base.html' %}
{% load static %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{messages.tag}}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block content %}

<!-- item content row 1!-->
<div class="d-flex flex-row flex-wrap content-container">
    <h1>Order Summary</h1>
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for order_item in object %}
        <tr>
          <th scope="row">1</th>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <a href="{{ order_item.item.get_absolute_url }}">
                            <img  width="100" height="100" src="{{ order_item.item.item_picture.url }}"/>
                            </a>
                        </div>
                        <div class="col-sm">
                            <a href="{{ order_item.item.get_absolute_url }}">
                            <p>{{ order_item.item.title }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </td>
            <td>{{ order_item.item.price }}</td>
            <td>{{ order_item.quantity }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <div class="container d-flex justify-content-end">
        <div class="p-2">
            <button type="button" class="btn btn-outline-dark"><a href="{% url 'core:checkout' %}"> Check Out </a></button>
        </div>
    </div>
</div>


<script src="{% static 'js/animation.js' %}"></script>
{% endblock content %}