<!-- footline !-->

<div class="my_nav">
<div class="footer-line"></div>


<div class="container">

    <div class="row">
        <div class="col-6 col-md">
            <a href="#">CONTACT</a>
        </div>
        <div class="col-6 col-md">
            <a href="#">SHIPPING AND RETURNING</a>
        </div>
        <div class="col-6 col-md">
            <a href="#">TERMS AND CONDITIONS</a>
        </div>
        <div class="col-6 col-md">
            <a href="#">SIZE GUIDE</a>
        </div>
    </div>
</div>
</div>