{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- headline animation !-->
<div class="animation-container">
    <div class="item has-content">
        <div class="item-inner">
            <h2 class="section-title"><span>JS Jewelry</span></h2>
            <div class="outer-content">
                <p>With more than 25 years of craftsmanship we promise to deliver to you the ring you've been looking
                    for! </p>
            </div>
            <p class="more-btn">See Collection</p>
        </div>
    </div>

    <div class="item main-img">
        <div class="display">
            <figure class="trainers">
                <img src="https://purepng.com/public/uploads/medium/purepng.com-diamond-ringclothingdiamond-ringfashion-jewelry-ring-stone-love-wedding-object-gold-accessory-diamond-jewel-marriage-relationship-wed-marry-jewellery-631522327134itrf8.png">
        </div>

        <div class="bg"></div>
    </div>
</div>


<!-- item content row 1!-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>

    </div>
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">

            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>

    </div>
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>

    </div>
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- item content row 2!-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">

            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>

    </div>
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>

    </div>
    <div class="mr-md-2 pt-2 px-2 pt-md-3 px-md-3 text-center text-white overflow-hidden">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> Item description </p>

                    <p class="item-price"> $ 999 </p>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- footline !-->

<div class="footer-line"></div>
<div class="container">

    <div class="row">
        <div class="col-6 col-md">
            <h5>CONTACT</h5>
        </div>
        <div class="col-6 col-md">
            <h5>SHIPPING AND RETURNING</h5>
        </div>
        <div class="col-6 col-md">
            <h5>TERMS AND CONDITIONS</h5>
        </div>
        <div class="col-6 col-md">
            <h5>SIZE GUIDE</h5>
        </div>
    </div>
</div>
<script src="{% static 'js/animation.js' %}"></script>

{% endblock content %}