{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- headline animation !-->
<div class="animation-container">
    <div class="item has-content">
        <div class="item-inner">
            <h2 class="section-title"><span>JS Jewelry</span></h2>
            <div class="outer-content">
                <p>With more than 25 years of craftsmanship we promise to deliver to you the ring you've been looking
                    for! </p>
            </div>
            <p class="more-btn">See Collection</p>
        </div>
    </div>

    <div class="item main-img">
        <div class="display">
            <figure class="trainers">
                <img src="https://purepng.com/public/uploads/medium/purepng.com-diamond-ringclothingdiamond-ringfashion-jewelry-ring-stone-love-wedding-object-gold-accessory-diamond-jewel-marriage-relationship-wed-marry-jewellery-631522327134itrf8.png">
        </div>

        <div class="bg"></div>
    </div>
</div>


<!-- item content row 1!-->

<div class="d-flex flex-row flex-wrap content-container">
    {% for item in object_list  %}
    <div class=" pt-2 px-2 pt-3 px-3 text-center col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="my-1 py-1">
            <div class="item-listing">
                <div class="listing-children">
                    <img src="{% static 'image/r1.jpg' %}" alt="ring 1">
                </div>
                <div class="listing-children">
                    <p class="item-description"> {{ item.title }} </p>

                    <a class="item-price effect-underline" href="{{ item.get_absolute_url }}"> ${{ item.price }} </a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>


<script src="{% static 'js/animation.js' %}"></script>

{% endblock content %}