
<nav class="navbar navbar-expand-md navbar-white fixed-top d-flex flex-row my-flex-container-brand justify-content-between">
    <div class="p-2 flex-even"></div>
    <div class="p-2 flex-even">
        <a class="navbar-brand" href="{% url 'core:home' %}">JSJ</a>
    </div>
    <div class="p-2 flex-even">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link effect-underline" href="#">NECKLACES<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link effect-underline" href="#">RING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link effect-underline" href="#" >SHOPPING BAG(0)</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
